@charset "utf-8";
body{
    margin-top:100px;
    background-image: url("hotelroom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.color{
    border-style: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(to right,skyblue,deeppink);
}
b{
    font-size: 40px;
}
div{
    margin-bottom: 10px;
    text-align:center;
    font-size: auto;
    height: 50px;
}
input{
    height:40px;
    width: 300px;
} 
    

